{
  "zlatakrasa.cz": {
    "client_id": "your_client_id_here",
    "client_secret": "your_client_secret_here"
  },
  "prager.cz": {
    "client_id": "your_client_id_here",
    "client_secret": "your_client_secret_here"
  },
  "nakupujdrevo.online": {
    "client_id": "your_client_id_here",
    "client_secret": "your_client_secret_here"
  },
  "stary-vrch.cz": {
    "client_id": "your_client_id_here",
    "client_secret": "your_client_secret_here"
  }
}
